# Ignore python-dotenv secrets
.env

# Byte-compiled / optimized / DLL files
__pycache__/
.python_packages/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter checkpoints
.ipynb_checkpoints/

# Ignore data/
data/*.zip
data/*.csv


# react

# dependencies
**/node_modules
**/.pnp
**/.pnp.js

# testing
**/coverage

# production
**/build

# misc
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

