# Ignore python-dotenv secrets
.env

# Byte-compiled / optimized / DLL files
__pycache__/
.python_packages/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter checkpoints
.ipynb_checkpoints/

# Ignore data/
data/*.zip
data/*.csv

